html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'karla', sans-serif;
    font-weight: 400, 700;
    color: hsl(204, 43%, 93%);
}

body {
    padding: 20px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#container {
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
    border-radius: 5px;
    overflow: hidden;
    width: 600px;
    height: 450px;
    margin: 0 auto;
}

#top-section {
    background-color: #ffffff;
    width: 100%;
    height: 45%;
    padding: 30px;
}

#bottom-section {
    width: 100%;
    height: 55%;
    display: flex;
}

#bottom-left-section {
    background-color: hsl(179, 62%, 43%);
    display: inline-block;
    width: 50%;
    height: 100%;
    padding: 30px;
}

#bottom-right-section {
    background-color: hsl(179, 47%, 52%);
    display: inline-block;
    width: 50%;
    height: 100%;
    padding: 30px;
}

#top-heading-1 {
    color: hsl(179, 62%, 43%);
}

#top-heading-2 {
    color: hsl(71, 73%, 54%);
}

#top-p {
    color: hsl(218, 22%, 67%);
    line-height: 0.5;
}

#price, #price-frequency {
    display: inline;
}

#price {
    font-size: 2rem;
}

#price-frequency {
    position: relative;
    top: -3px;
    font-size: 0.8rem;
    opacity: 0.7;
    margin-left: 5px;
}

button {
    color: hsl(204, 43%, 93%);
    background-color:  hsl(71, 73%, 54%);
    border: 0px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    
}

button:hover {
    cursor: pointer;
    background-color: rgba(192, 223, 52, 0.8) ;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 0.8rem;
    opacity: 0.8;
    line-height: 1.4;
}